.DS_Store
example-user-tracker/bin/example-user-tracker_debug
example-user-tracker/build/
example-user-tracker/example-user-tracker.qbs.user
example/bin/example_debug
example/bin/example
example/example.qbs.user
example-assimp-model/bin/example-assimp-model_debug
example-assimp-model/example-assimp-model.qbs.user
example-user-tracker/bin/example-user-tracker
example/.vs/
example/example.VC.opendb
example-user-tracker/.vs/
example-user-tracker/example-user-tracker.sdf
example-user-tracker/obj/
example-user-tracker/bin/assimp.dll
example-user-tracker/bin/FreeImage.dll
example-user-tracker/bin/NiTE2.dll
example-user-tracker/bin/OpenNI.ini
example-user-tracker/bin/OpenNI2.dll
example-user-tracker/bin/Zlib.dll
example-user-tracker/bin/assimp.dll
example-user-tracker/bin/example-user-tracker_debug.exe
example-user-tracker/bin/example-user-tracker_debug.exp
example-user-tracker/bin/example-user-tracker_debug.ilk
example-user-tracker/bin/example-user-tracker_debug.lib
example-user-tracker/bin/example-user-tracker_debug.pdb
example-user-tracker/bin/fmodex64.dll
example-user-tracker/bin/fmodexL64.dll
example-user-tracker/bin/freetype.dll
example-user-tracker/bin/glut32.dll
example-user-tracker/bin/libeay32.dll
example-user-tracker/bin/ssleay32.dll
example-user-tracker/example-user-tracker.sdf
example-user-tracker/obj/
example-user-tracker/bin/example-user-trackerDebug.app/

#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*
!*/bin/data/

# for bin folder in root
/bin/*
!/bin/data/

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout
*.cbTemp

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/
*/.vs/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite
